<% if @user.errors.any? %>
  <div id="error_explanation">  
    <div class="alert alert-danger">
      <%= t "shared.contain" %> <%= t "users.count.error", count: @user.errors.size %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
