<h1><%= t "reset_password.click" %></h1>

<p><%= edit_password_reset_url(id: @user.reset_token, email: @user.email) %></p>
<p><%= t "reset_password.expire" %></p>
<p><%= t "reset_password.ignore" %></p>
